@font-face {
    font-family: 'ALS Rubl Regular';
    src: local('☺'), url('../fonts/ALS\ Rubl\ Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BravoRG';
    src: local('☺'), url('../fonts/BravoRG.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ceremonious One';
    src: local('☺'), url('../fonts/ceremonious-one_[allfont.ru].ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harbell Personal Use Only';
    src: local('☺'), url('../fonts/Harbell\ Personal\ Use\ Only.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondPro-Medium';
    src: local('☺'), url('../fonts/PFDinTextCondPro-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondPro-Regular';
    src: local('☺'), url('../fonts/PFDinTextCondPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Idealist Sans';
    src: local('☺'), url('../fonts/Idealist\ Sans.ttf');
    font-weight: normal;
    font-style: normal;
}


.wrapper {

}

/*------------------------Header---------------------*/
.header {
    width: 100%;
    background-color: #1c242a;
    padding: 22px 0px;
}

.header-content {
    max-width: 950px;
    padding: 0px 20px 0px 0px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
/*-----------Выпадающее меню---------*/
.select-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 3;
    top: 50px;
    width: 200px;
    background-color: #1c242a;
    padding: 20px 0px 0px 10px;
    transition: all 0.6s ease 0s;
}

.select-menu.active {
    opacity: 1;
    visibility: visible;
}

.ul-3 li a {
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.ul-3 li {
    position: relative;
    padding: 0px 0px 10px 25px;
}

.ul-3 li:nth-child(1) a::before {
    content: url(../img/header/slectmenu/01.png);
    position: absolute;
    left: 0;
    top: 0;
}

.ul-3 li:nth-child(2) a::before {
    content: url(../img/header/slectmenu/02.png);
    position: absolute;
    left: 0;
    top: 0;
}

.ul-3 li:nth-child(3) a::before {
    content: url(../img/header/slectmenu/03.png);
    position: absolute;
    left: 0;
    top: 0;
}

.ul-3 li:nth-child(4) a::before {
    content: url(../img/header/slectmenu/04.png);
    position: absolute;
    left: 0;
    top: 0;
}
/*--------------------------------------------------------*/
.ul-1 li a,
.region a {
    color: #ffffff;
    font-family: "PFDinTextCondPro-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.ul-1 li a:hover{
    text-decoration: underline;
} 

nav {
    margin: 0px 0px 0px 30px;
}

.logotip {}

.ul-1 {
    display: flex;
}

.ul-1 li {
    margin: 0px 30px 0px 0px;
}

.ul-1 li:last-child {
    margin: 0px 0px 0px 0px;
}

.region-user {
    display: flex;
    align-items: flex-end;
}

.region {
    margin: 0px 30px 0px 0px;
}

.region-user {
    position: relative;


}

.region img {
    margin: 0px 7px 0px 0px;
}

.user {
    cursor: pointer;
}


/*---------Burger-----------*/

.burger-wrapper {
    display: none;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
}

.polosa {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #bb9c66;
}

.polosa::before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 30px;
    height: 5px;
    background-color: #bb9c66;
    transition: transform 0.2s ease-in, top 0.2S linear 0.2s;
}

.polosa::after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 30px;
    height: 5px;
    background-color: #bb9c66;
    transition: transform 0.2s ease-in, top 0.2S linear 0.2s;
}

.polosa.polosa-active {
    background-color: transparent;
}

.polosa.polosa-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.polosa.polosa-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/*-----------------------Mob menu----------------------*/

.mob-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1c242ae1;
    left: 0;
    top: 60px;
    z-index: 2;
    left: -110%;
    overflow: auto;
    transition: all 0.5s ease;
}

.mob-menu.active {
    left: 0;
    opacity: 0.9;
}

.mob-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    text-align: center;
}

.mob-menu-content a {
    font-size: 30px;
    color: #bb9c66;
    line-height: 40px;
    letter-spacing: 1.5px;
    font-family: Bebas;
}


/*------------------------Box-1---------------------*/

.box-1 {
    position: relative;
    display: flex;
     align-items: center;
    flex-direction: column;
    height: 450px;    
    margin: 0px 0px 85px 0px;
}


.box-1-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0px 0px 0px;

}

.box-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-1-exclusive {
    margin: 0px 0px 25px 0px;
    color: #bb9c66;
    font-family: "Ceremonious One";
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
}

.box-1-title {
    margin: 0px 0px 21px 0px;
    color: #fff;
    font-family: "PFDinTextCondPro-Regular";
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 5.25px;
    text-align: center;
}

.box-1-text {
    margin: 0px 0px 79px 0px;
    max-width: 692px;
    color: #fff;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.box-1-button a {
    color: #ffffff;
    font-family: "Idealist Sans";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 15px 50px;
    border: 3px solid #bb9c66;
}
.box-1-button a:hover {
    text-decoration: underline;
}

/*--------------Квадрат управления слайдером-----------*/
.squer {
    position: absolute;
    top: 418px;
    width: 65px;
    height: 65px;
    background-color: #bb9c66;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);

}

.squer-nav { 
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}

.arrow-left {
    cursor: pointer;
}

.circle {
    margin: 0px 12px 0px 12px;
    animation: circle-round 3s infinite linear;
}

@keyframes circle-round {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.arrow-righte {
    cursor: pointer;
}

/*-------------------Box-2----------------------*/

.box-2 {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction:column;

}

.box-2-title {
font-family: "Ceremonious One";
font-size: 40px;
font-weight: 400;
line-height: 25px;
color: #bb9c66;
margin: 0px 0px 27px 0px;
text-align: center;
 }

.box-2-text { 
color: #1c242a;
font-family: "PFDinTextCondPro-Regular";
font-size: 35px;
font-weight: 500;
line-height: 21px;
text-transform: uppercase;
letter-spacing: 5.25px;
margin: 0px 0px 21px 0px;
text-align: center;
}

.box-2-picture {
    display: flex;
   justify-content: center;
     align-items: center;
    margin: 0px 0px 50px 0px;
    overflow: hidden;
 }

 .c2{
     margin: 0px 45px 0px 45px;
 }


 /*----------------------block3-------------------------*/

.slider { 
position: relative;
 }

.slider-item { 
   display: flex;
   flex-direction: column;
   width: 250px;
   align-items: center;
   /* min-width: 0; */
}

.slick-track{               /*вся полоса картинок. слайдера полосы*/
	display: flex;          /* Выстраиваем ленту картинок в ряд*/
}

.slick-list{                /*полоса отображения картинок*/
	overflow: hidden;       /*скрываем все что выходит за полосу отображения*/
    max-width: 950px;
   margin: 0 auto;  
}

.slider .slick-arrow{
	position: absolute;
	top: 40%;
    font-size: 0;
    z-index: 10;
    width: 100px;
    height: 20px;
    background-repeat: no-repeat;
    
}

.slider .slick-arrow.slick-prev{
background: url(../img/block-4/01.svg);
background-size: contain;
background-repeat: no-repeat;

}

.slider .slick-arrow.slick-next{
	background: url(../img/block-4/03.svg);
    background-size: contain;
    background-repeat: no-repeat;
left: 200px;
}

.box-3-item-foto { 
    border: 3px solid #bb9c66;
    position: relative;
}

.box-3-item-foto img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.box-3-item-timer { 
    transform: rotate(45deg);
    width: 70px;
    height: 70px;
    background-color: #fff;
    position: relative;
    top: -36px;
    margin: 0px 0px -40px 0px;
}

.timer-insert{
    transform: rotate(-45deg);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8px;
    left: 0px;
}
.timer-insert span{
    padding: 12px 0px 3px 0px;
}

.box-3-item-text {
color: #000000;
font-family: "PFDinTextCondPro-Medium";
font-size: 21px;
font-weight: 500;
line-height: 25px;
text-transform: uppercase;
max-width: 240px;
text-align: center;
position: relative;
z-index: 3;
margin: 0px 0px 30px 0px;
flex: 1 1 auto;
 }

.box-3-item-bet { 
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    margin: 0px 0px 25px 0px;

}


.box-3-item-bet-current {

    background-image: url(../img/block-3/cub.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .current-1{

color: #000000;
font-family: "PT Sans";
font-size: 14px;
font-weight: 400;
line-height: 25px;
 }
 .current-2{
    color: #1c242a;
    font-family: "BravoRG";
    font-size: 50px;
    font-weight: 400;
    line-height: 21px;
    padding: 10px 0px 10px 0px;
 }
 .current-3{}


 .box-3-item-bet-ice {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
    height: 50px;
    width: 50px;
    border-bottom: 1px solid #bb9c66 ;
 }


.box-3-item-bet-hand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 50px;
    border-bottom: 1px solid #bb9c66 ;
 }

.box-3-item-button { 
color: #000000;
font-family: "PFDinTextCondPro-Regular";
font-size: 21px;
font-weight: 600;
text-transform: uppercase;
padding: 14px 30px;
border: 3px solid #bb9c66 ;
}

/*---------------------Box-4----------------------*/

.box-4 { 
    max-width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
margin: 0 auto;
padding: 50px 0px 60px 0px;

}

.box-4-item1-1 {
    position: relative;
 }
 

.box-4-item1-1::after { 
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #bb9c66;
    top: 10px;
    margin: 0px 0px 0px 5px;
}

.box-4-item1-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    background-image: url(../img/block-4/02.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
color: #000000;
font-family: "PFDinTextCondPro-Regular";
font-size: 21px;
font-weight: 600;
line-height: 25px;
text-transform: uppercase;
margin: 0px 40px 0px 40px;

 }

.box-4-item1-3 {
    position: relative;
 }

.box-4-item1-3::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #bb9c66;
    top: 10px;
    left: -25px;
    margin: 0px 0px 0px 5px;
 }


 /*---------------------Block-5----------------------*/


 .block-5 {
     display: flex;
     justify-content: space-between;
     max-width: 950px;
     margin: 0px auto 95px auto;
     background-image: url(../img/block-5/333.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     padding: 22px 0px 0px 0px;
 
 }

.block-5-col { 
    display: flex;
    flex-direction: column;
    width: 250px;
}

.block-5-col-item {          /*Настройка айтема*/
    position: relative;
    padding: 0px 0px 100% 0px;
    margin: 0px 0px 50px 0px;
    border-radius: 50%;
 }

 .item-img{       /*Настройка картинки айтема*/
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.item-incide-box{  /*Внутренний блок растянули на все ширину и высоту*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%; 
    height: 100%;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.561);
   border-radius: 50%;
}

.item-incide-box:hover{
    background-color: transparent;  

}
.item-incide-box:hover .block-5-col-item-text{
    opacity: 0;
}


.item-incide-box img{   /*Изображения адаптивны*/
 width: 100%;
 height: 100%;
object-fit: cover;
}

.block-5-col-item-icon {
    width: 30%;   /* Регулируем размер иконки и гарант замены изображения*/
 }

 .block-5-col-item-decor {
    width: 40%;    /* Регулируем размер декора и гарант замены изображения*/
 }


.block-5-col-item-text {
color: #fff;
font-family: "PFDinTextCondPro-Regular";
font-size: 21px;
font-weight: 500;
line-height: 25px;
text-transform: uppercase;
letter-spacing: 2.1px;
max-width: 180px;
opacity: 1;
}


/*------------------------------Block-6-------------------------------*/

.block-6 {
    display: flex;
    max-width: 950px;
    /* justify-content: space-between; */
    margin: 0 auto;
    margin: 0px auto 75px auto;

 }

.block-6-decor {
width: 84px;
background-image: url(../img/block-6/01.png);
background-position: center;
background-size: contain;
margin: 0px 5px 0px 5px;


 }


.block-6-text {
max-width: 820px;
color: #333333;
font-family: "PT Sans";
font-size: 15px;
font-weight: 400;
line-height: 25px;
margin: 12px 0px 25px 30px;
 }


 .block-6-text span:nth-child(1){
     display: block;
     margin: 0px 0px 15px 0px;
 }

 .block-6-text span:nth-child(2){
     display: block;
     margin: 0px 0px 15px 0px;
 }

 /*----------------------Block-7----------------------*/


 .block-7{
background-color: #1c242a;
padding: 60px 0px 100px 0px;

 }

 .block-7-extra {
    max-width: 950px;
    display: flex;
    flex-direction:column;
    margin: 0px auto 60px auto;
}

.box-7-title {
font-family: "Ceremonious One";
font-size: 40px;
font-weight: 400;
line-height: 25px;
color: #bb9c66;
margin: 0px 0px 30px 0px;
text-align: center;
 }

.box-7-text { 
color: #fff;
font-family: "PFDinTextCondPro-Regular";
font-size: 35px;
font-weight: 500;
line-height: 21px;
text-transform: uppercase;
letter-spacing: 5.25px;
margin: 0px 0px 21px 0px;
text-align: center;
}

.box-7-picture {
    display: flex;
   justify-content: center;
     align-items: center;
    overflow: hidden;
 }

 .c2{
     margin: 0px 45px 0px 45px;
 }

 /*----------------------------------------------------------------*/
 .block-7-service {
     display: flex;
     justify-content: space-between;
     max-width: 950px;
     margin: 0 auto;
  }

.service-item {
    max-width: 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.service-item-icon {
    margin: 0px 0px 15px 0px;

 }
 .service-item-icon img {
  max-width:162px;
  height: 161px;
  object-fit: cover;

}


.service-item-title { 
color: #ffffff;
font-family: "PFDinTextCondPro-Regular";
font-size: 21px;
font-weight: 500;
line-height: 25px;
text-transform: uppercase;
/* Text style for "Экспертная" */
letter-spacing: 2.1px;
margin: 0px 0px 30px 0px;
}

.service-item-text { 
color: #bb9c66;
font-family: "PT Sans";
font-size: 15px;
font-weight: 400;
line-height: 25px;
margin: 0px 0px 32px 0px;
}

.service-item-link { 
color: #ffffff;
font-family: "PFDinTextCondPro-Regular";
font-size: 21px;
font-weight: 500;
line-height: 25px;
text-transform: uppercase;
letter-spacing: 2.12px;
position: relative;
}

.service-item-link::before{
    position: absolute;
    content: '';
    left: -64px;
    top: 12px;
    border: 1px solid #bb9c66;
    width: 50px;
}

.service-item-link::after{
    position: absolute;
    content: '';
    left: 128px;
    top: 12px;
    border: 1px solid #bb9c66;
    width: 50px;
}

/*-----------------Block-8-------------------*/

.block-8 {
    padding: 60px 0px 100px 0px;
 }

.block-8-quots {
    max-width: 950px;
    display: flex;
    flex-direction:column;
    margin: 0px auto 60px auto;
 }

.box-8-title {
    font-family: "Ceremonious One";
font-size: 40px;
font-weight: 400;
line-height: 25px;
color: #bb9c66;
margin: 0px 0px 30px 0px;
text-align: center;
 }

.box-8-text {
    color: #000;
font-family: "PFDinTextCondPro-Regular";
font-size: 35px;
font-weight: 500;
line-height: 21px;
text-transform: uppercase;
letter-spacing: 5.25px;
margin: 0px 0px 21px 0px;
text-align: center;
 }

.box-8-picture {
    display: flex;
    justify-content: center;
      align-items: center;
     overflow: hidden;
 }

.c2 { margin: 0px 45px 0px 45px;}

.block-8-content {
    display: flex;
    max-width: 790px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.block-8-content-foto {
    max-width: 206px;
 }

.block-8-content-text{
    max-width: 514px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.block-8-content-text-1 {
color: #000000;
font-family: "PT Sans";
font-size: 25px;
line-height: 30px;
font-weight: 400;
font-style: italic;
 }

.block-8-content-text-2 {
    /* Text style for "Марк Твен" */
color: #1c242a;
font-family: "PT Sans";
font-size: 15px;
font-weight: 400;
line-height: 25px;
 }

 .block-8-decor { 
     max-width: 400px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 auto;
 }

.foto-round{
    animation: circle-round 3s infinite linear;
}

@keyframes circle-round{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*-----------------Block-9 -------------------*/
.block-9 {
    max-width: 900px;
    justify-content: space-between;
    display: flex;
    margin: 0px auto 80px auto;
    padding: 0px 8px 0px 8px;
}

.block-left { 
    max-width: 412px;
    margin: 0px 0px 0px 0px;
}

.block-left-news { 
    margin: 0px 0px 57px 0px;
    padding: 0px 7px 0px 0px;
}

.left-news {
    display: flex;
    margin: 0px 0px 34px 0px;
 }

.left-news-logo { 
    margin: 0px 22px 0px 0px;
}

.left-news-text {

color: #000000;
font-family: "PFDinTextCondPro-Medium";
font-size: 35px;
font-weight: 500;
line-height: 25px;
text-transform: uppercase;
letter-spacing: 3.5px;
 }

.left-item {
    margin: 0px 0px 40px 0px;
 }

.left-item-date {

color: #bb9c66;
font-family: "PT Sans";
font-size: 15px;
font-weight: 400;
line-height: 25px;

 }

.left-item-text,
.left-news-text-2 {
color: #333333;
font-family: "PT Sans";
font-size: 15px;
line-height: 25px;
font-weight: 400;
 }

.left-item-text span {
font-size: 15px;
font-family: "PT Sans";
font-weight: 700;
text-decoration: underline;
 }


.block-left-subscription { }

.block-right { 
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-item { }

.right-item-text {
    color: #333333;
font-family: "PT Sans";
font-size: 15px;
line-height: 25px;
font-weight: 400;
 }
 .right-item-text span{
    font-size: 15px;
    font-family: "PT Sans";
    font-weight: 700;
    text-decoration: underline;
 }

 .mail {
display: flex;
align-items: center;
justify-content: space-between;
border: 3px solid #bb9c66;
max-width: 450px;
padding: 0px 10px 0px 0px;

  }

.button {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: "PT Sans";
    background-color: #ffffff;
    cursor: pointer;

 }

input[type='text']{
     height: 50px;
    font-size: 20px;
    padding: 0px 0px 0px 10px;
}

/*--------------Block-10-----------------*/
.block-10 { 
    height: 180px;
    background-color: #1c242a;
    display: flex;
    align-items: center;
   
}

.block-10-content { 
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.block-10-content-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

.block-10-content-logo-1 { 
    margin: 0px 0px 20px 0px;
}

.block-10-content-logo-2 {
color: #bb9c66;
font-family: "PT Sans";
font-size: 14px;
font-weight: 400;
line-height: 21px;
 }


.block-10-content-nav{
max-width: 475px;
display: flex;
}

.nav-10 {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 10px;

 }

 .nav-10 li a{
    color: #ffffff;
    font-family: "PFDinTextCondPro-Medium";
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 0px 15px 0px 0px;
 }



.block-10-content-tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
 }

.block-10-content-tel-1 {
color:  #bb9c66;
font-family: "BravoRG";
font-size: 50px;
font-weight: 400;
line-height: 25px;
text-transform: uppercase;
/* Text style for "+7" */
/* font-size: 25px; */
margin: 0px 0px 20px 0px;
 }

.block-10-content-tel-2 a {
font-family: "PT Sans";
font-size: 14px;
font-weight: 400;
line-height: 21px;
color:  #bb9c66;
 }
 .block-10-content-tel-1 span{
 
     
 }